<div>
    <form name="form" novalidate>
        <div class="row">
            <div class="pull-right">
                <label>Clave: {{clave}}</label>
            </div>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input ng-model="cliente.nombre" type="text" class="form-control" name="nombre" id="nombre" required/>
            <p ng-show="form.nombre.$error.required && b" class="text-danger">No es posible continuar, debe ingresar un Nombre. Es obligatorio</p>
        </div>
        <div class="form-group">
            <label for="apellidoPaterno">Apellido Paterno</label>
            <input type="text" ng-model="cliente.apellidoPaterno" class="form-control" name="apellidoPaterno" id="apellidoPaterno" required/>
            <p ng-show="form.apellidoPaterno.$error.required && b" class="text-danger">No es posible continuar, debe ingresar un Apellido Paterno. Es obligatorio</p>
        </div>
        <div class="form-group">
            <label for="apellidoMaterno">Apellido Materno</label>
            <input type="text" ng-model="cliente.apellidoMaterno" class="form-control" id="apellidoMaterno"/>
        </div>
        <div class="form-group">
            <label>RFC</label>
            <input ng-model="cliente.rfc" ui-mask="AAAA999999***" type="text" name="rfc" class="form-control" required/>
            <p ng-show="form.rfc.$error.required && b" class="text-danger">No es posible continuar, debe ingresar un RFC. Es obligatorio</p>
        </div>
        <div class="row">
            <div class="pull-right">
                <a href="#/clientes" class="btn btn-danger">Cancelar</a>
                <a ng-click="guardar(form)" class="btn btn-success">Guardar</a>
            </div>
        </div>
    </form>
</div>